/entirej-report/classes
/entirej-report/target
/entirej-reports-jasper/classes
/entirej-reports-jasper/target
/entirej-reports-jasper/bin

/entirej-reports-excel/classes
/entirej-reports-excel/target
/entirej-reports-excel/bin


/entirej-report-runners/classes
/entirej-report-runners/target
/entirej-report-runners/bin